Package: ghost-btros2-amd64
Version: 1.0
Architecture: amd64
Maintainer: Xander Wilson <xanderwilson2014@gmail.com>
Depends: ghost-btcpp-amd64, ros-humble-rclcpp, ros-humble-rclcpp-action
Description: Compiled BehaviorTree.ROS2 core binaries (VEXU_GHOST fork).
