Package: ghost-btros2-interfaces-amd64
Version: 1.0
Architecture: amd64
Maintainer: Xander Wilson <xanderwilson2014@gmail.com>
Depends: libc6 (>= 2.4), libpython3.10 (>= 3.10.0), libstdc++6 (>= 4.1.1), ros-humble-fastcdr, ros-humble-action-msgs, ros-humble-rosidl-default-runtime
Description: Compiled BehaviorTree.ROS2 interface binaries (VEXU_GHOST fork).
